.log-in{
  box-shadow: 0px 0px 10px rgb(221, 221, 221);
  padding: 15px 20px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.account{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.account-icon{
  display: inline-block;
  background-color: #f8f8f8;
  padding: 27px 30px;
  border-radius: 20px;
}
.account-icon img{
  height: 50px;
}
.text-account{
  margin-left: 30px;
}
.hello{
  font-size:20px;
  margin-bottom: 0px;
}
.description{
  margin-top: 5px;
}
.buttons-account{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.login{
  background-color: #ffbb43;
  border: none;
  padding: 15px 80px;
  border-radius: 12px;
  font-weight: bold;
}
.create-account{
  background-color: #152d76;
  border: none;
  padding: 15px 50px;
  border-radius: 12px;
  font-weight: bold;
  color: #f8f8f8;
}
.info{
  display: flex;
  flex-direction: column;
  margin-top: 280px;
  box-shadow: 0 0 6px rgb(234, 234, 234);
}
.category{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 243, 243);
  margin-bottom: 2px;
}
.representative-icon{
  padding-left: 40px;
}
.representative-icon img{
  height: 22px;
}
.category p{
  flex: 1;
  padding-left: 30px;
}
.forward-icon{
  padding-right: 30px;
}
.forward-icon img{
  height: 16px;
}

.menu-bar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.menu-bar i {
  margin-bottom: 5px;
}

.menu-bar {
  background-color: #f8fbff;
  color: #152d76;
  padding: 15px 0px;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

